
*{
    font-family: 'Roboto', sans-serif;
    /*outline: 1px solid black;*/

}

html {
    height: auto;}body {background-image: linear-gradient(#09b8e4, rgb(252, 251, 252));
        color: black;
    }

header {
    background-color: rgb(179, 113, 241);
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

header, section {
    width: 800px;
    margin: 0 auto;
    display: flex;
}

ul {
    list-style-type: upper-roman;
}

article {
    width: 90%;
}

img {
    height: 160px;
    width: 120px;
    margin-right: 20px;
}


